$primaryColor: #4F46E5;
$primaryColorHover: #6366F1;

$secondaryColor: #9333EA;

$contrastColor: #22C55E;
$contrastColorHover: #4ADE80;

$warningColor: #EF4444;

$primaryBackground: #0F172A;
$secondaryBackground: #020617;
$borderColor: #1E293B;

$primaryTypograhyColor: #E5E7EB;
$secondaryTypograhyColor: #94A3B8;
$disabledTypograhyColor: #64748B;